@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap');

:root{
	--primary-color: #B284BE;
	--primary-color-dark: #9966CC;
	--secondary-color: #FFBF00;
	--text-dark: #000000;
	--text-light: #555D50;
	--extra-light: #FEFEFA;
	--max-width: 1200px;	
}

*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

body {
font-family: "Poppins", sans-serif;	
}

nav{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ffa089;
	z-index: 99;
}

.nav__content{
	max-width: var(--max-width);
	margin:auto;
	padding:1.5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav .logo a{
	font-size: 1.5rem;
	font-weight: 600;
	color: whitesmoke;
}

nav .checkbox{
	display: none;
}

nav input{
	display: none;
}
nav .checkbox i{
	font-size: 2rem;
	color: var(--primary-color);
	cursor:pointer;
}

ul{
	display:flex;
	align-items: center;
	gap: 1rem;
	list-style: none;
	transition: left 0.3s;
}

ul li a{
	padding: 0.5rem 1rem;
	border: 2px solid transparent;
	text-decoration: none;
	font-weight: 600;
	color:var(--text-dark);
	transition: 0.3s;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 1rem 2rem;
	outline: none;
	border: 3px solid var(--primary-color);
	border-radius: 10px;
	transition: 0.3s;
	cursor: pointer;
	background-color: #ffa089;
	color: white;
}

ul li a:hover{
	gap:1rem;
	background-color: var(--primary-color-dark);
	color:#FEFEFA;
}

.section {
	background-color: var(--extra-light);
}

.section__container{
	min-height: 100vh;
	max-width: var(--max-width);
	margin: auto;
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.subtitle{
	letter-spacing: 2px;
	color: var(--text-light);
	font-weight: 600;
	margin-bottom: .5rem;
}

.title{
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 3rem;
	color:var(--text-dark);
	margin-bottom: 1rem;
}

.title span{
font-weight: 600;
}

.description{
	line-height: 1.5rem;
	color: var(--text-light);
	margin-bottom: 2rem;
}

.action__btns{
	display: flex;
	gap:1rem;
}

.action__btns button{
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 1rem 2rem;
	outline: none;
	border: 2px solid var(--primary-color);
	border-radius: 10px;
	transition: 0.3s;
	cursor: pointer;
}
.btn {
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 1rem 2rem;
	outline: none;
	border: 3px solid var(--primary-color);
	border-radius: 10px;
	transition: 0.3s;
	cursor: pointer;
	background-color: #ffa089;
	color: white;
}

.btn:hover{
	
	gap:1rem;
	background-color: var(--primary-color-dark);


}

.know__more{
	background-color: var(--primary-color);
	color: #FEFEFA;
}

.know__more:hover {
	background-color: var(--primary-color-dark);
}

.discover{
	color:var(--primary-color);
}

.discover:hover: {
	background-color: var(--primary-color-dark);
	color: #FEFEFA;
}

.image{
	display: grid;
	place-items: center;
}

.image img{
	width: min(25rem, 90%);
	border-radius: 100%;
}

@media (width < 750px){
	nav .checkbox{
		display: block;
	}

	ul{
		position: absolute;
		width: 100%;
		height: calc(100vh - 85px);
		left:-100%;
		top: 85px;
		background-color: var(--extra-light);
		flex-direction: column;
		justify-content: center;
		gap: 3rem;
	}

	nav #check:checked ~ ul{
		left: 0;	
	}

	ul li a{
		font-size: 1.25rem;
	}

	.section__container{
		padding: 10 rem 1 rem 5 rem 1rem;
		text-align: center;
		grid-template-columns: repeat(1, 1fr);
	}

	.image{
		grid-area: 1/1/2/2;
	}

	.action__btns p{
		width: 55%;
		margin-top: 25px;
		margin-bottom: 30px;
	}
	.action__btns {
		position: absolute;
		top: 35%;
		left: 8%;
	}

